@charset "UTF-8";




.Negrito{
        font-weight: bold;
}

body{
        background-image: url(imagens/images.jpeg);
        background-size: cover;
        height: 92vh;

}

main{
        
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        width: 800px;
        border-radius: 20px;
        box-shadow: 5px 5px 5px black; 
        border-radius: 10px;
        margin: auto;
        padding: 10px;

}
li{
        text-align: left;
        
}

h1,h2{
        color: ;
        text-align: center;
        text-shadow: 0.5px 0.5px 0.5px black;
}


































