@charset "UTF-8";




.Negrito{
        font-weight: bold;
}

body{
        background-image: url(imagens/images.jpeg);
        background-size: cover;
        height: 92vh;

}

main{
        background-color: white;
        width: 800px;
        border-radius: 16px;
        box-shadow: 10px 10px 10px black; 
        border-radius: 10px;
        margin: auto;
        padding: 10px;

}
li{
        text-align: left;
        
}

h1,h2{
        text-align: center;

}


































