@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.Negrito{
        font-weight: bold;
        color: #A65353;
}

body{
        background-image: url(imagens/images.jpeg);
        background-size: cover;
        height: 92vh;

}

main{
        
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        box-shadow: 5px 5px 5px black; 
        border-radius: 10px;
        width: 800px; 
        margin: auto;
        padding: 10px;

}
li{
        text-align: left;
        
}

h1,h2{
        color:#23C9CC ;
        text-align: center;
        text-shadow: 0.5px 0.5px 0.5px #167e80a9;
        font-family: "Abril Fatface", serif;
}


































